.row {
	width: 100%;
	display: block;
	box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
}

.row-small {
    max-width: 700px;
    margin: 0 auto;
}

.row:after {
	content: ' ';
	display: table;
	clear: both;
}

/* padding options */

.padding-small {
    padding: 5px;
    margin: 0;
}

@media screen {
	/* Columns will have some of the same charcteristics */
	.column {
		display: inline-block;
		float: left;
		box-sizing: border-box;
	}

    .xsmall-1 {
        width:8.333%;
    }

    .xsmall-2 {
        width:16.666%;
    }

    .xsmall-3 {
        width:25%;
    }

    .xsmall-4 {
        width:33.333%;
    }

    .xsmall-5 {
        width:41.666%;
    }

    .xsmall-6 {
        width:50%;
    }

    .xsmall-7 {
        width:58.333%;
    }

    .xsmall-8 {
        width:66.666%;
    }

    .xsmall-9 {
        width: 75%;
    }

    .xsmall-10 {
        width:83.333%;
    }

    .xsmall-11 {
        width:91.666%;
    }

    .xsmall-12 {
        width:100%;
    }

    .xsmall-auto {
        width: auto;
    }

    .xsmall-hide {
        display: none;
    }

    .xsmall-left {
        text-align: left;
    }

    .xsmall-center {
        text-align: center;
    }

    .xsmall-right {
        text-align: right;
    }
}

@media screen and (min-width: 420px) {
    .small-1 {
        width:8.333%;
    }

    .small-2 {
        width:16.666%;
    }

    .small-3 {
        width:25%;
    }

    .small-4 {
        width:33.333%;
    }

    .small-5 {
        width:41.666%;
    }

    .small-6 {
        width:50%;
    }

    .small-7 {
        width:58.333%;
    }

    .small-8 {
        width:66.666%;
    }

    .small-9 {
        width: 75%;
    }

    .small-10 {
        width:83.333%;
    }

    .small-11 {
        width:91.666%;
    }

    .small-12 {
        width:100%;
    }

    .small-auto {
        width: auto;
    }

    .small-hide {
        display: none;
    }

    .small-left {
        text-align: left;
    }

    .small-center {
        text-align: center;
    }

    .small-right {
        text-align: right;
    }
}

@media screen and (min-width: 720px) {
    .medium-1 {
        width:8.333%;
    }

    .medium-2 {
        width:16.666%;
    }

    .medium-3 {
        width:25%;
    }

    .medium-4 {
        width:33.333%;
    }

    .medium-5 {
        width:41.666%;
    }

    .medium-6 {
        width:50%;
    }

    .medium-7 {
        width:58.333%;
    }

    .medium-8 {
        width:66.666%;
    }

    .medium-9 {
        width: 75%;
    }

    .medium-10 {
        width:83.333%;
    }

    .medium-11 {
        width:91.666%;
    }

    .medium-12 {
        width:100%;
    }

    .medium-auto {
        width: auto;
    }

    .medium-show {
        display: block;
    }

    .medium-hide {
        display: none;
    }

    .medium-left {
        text-align: left;
    }

    .medium-center {
        text-align: center;
    }

    .medium-right {
        text-align: right;
    }
}

@media screen and (min-width: 1100px) {
    .large-1 {
        width:8.333%;
    }

    .large2 {
        width:16.666%;
    }

    .large-3 {
        width:25%;
    }

    .large-4 {
        width:33.333%;
    }

    .large-5 {
        width:41.666%;
    }

    .large-6 {
        width:50%;
    }

    .large-7 {
        width:58.333%;
    }

    .large-8 {
        width:66.666%;
    }

    .large-9 {
        width: 75%;
    }

    .large-10 {
        width:83.333%;
    }

    .large-11 {
        width:91.666%;
    }

    .large-12 {
        width:100%;
    }

    .large-hide {
        display: none;
    }

    .large-show {
        display: inline-block;
    }

    .large-auto {
        width: auto;
    }

    .large-left {
        text-align: left;
    }

    .large-center {
        text-align: center;
    }

    .large-right {
        text-align: right;
    }

}

/* Larger than 1080p */

@media screen and (min-width: 2900px){
    DIV.row {
        max-width: 2000px;
    }
}


