@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:800');/* Font for the close buttons*/
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');/* Deafult font */

HTML {
	overflow-x: hidden;
	overflow-y: scroll;
}

BODY {
	text-align: center;
	padding: 0;
	margin: 0;
	/* Default font will be thiner and clear fo everyone to read */
	font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
	background-color: #1E1E1E;
}

/* HEADER style */

HEADER {
	width: 100%;
	border: 1px solid #1E1E1E;
	box-sizing: border-box;
	background-color: #1E1E1E;
	padding: 20px;
	color: #03B874;
}

/* Style for the content button */
.menuButton {
	display: none;
}

BODY.JS .menuButton {
	display: block;
}

A.menubutton {
	width: 100px;
	height: 100px;
	display: block;
	border: 1px solid transparent;
	margin: 0 auto;
}

A.menubutton > DIV {
	width: 60px;
	height: 60px;
	height: 60px;
	border: 4px solid #FFF;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	margin: 20px 20px;
}

A.menubutton > DIV > DIV {
	overflow: hidden;
	border: 4px solid transparent;
	border-radius: 50%;
	width: 52px;
	height: 52px;
	box-sizing: border-box;
	padding: 3px 0px;
}

A.menubutton > DIV > DIV > DIV {
	background-color: #FFF;
	width: 75%;
	height: 6px;
	margin: 5px auto;
}

A.menubutton:hover > DIV {
	background-color: #03B874;
}

/* Give the option for a dark icon */
A.menubutton-dark > DIV {
	border-color: #1E1E1E;
}

A.menubutton-dark > DIV > DIV > DIV {
	background-color: #1E1E1E;
}

/* Style for the navigation */

NAV {
	background-color: #03B874;
	border: 1px solid #03B874;
	box-sizing: border-box;
}

NAV > .closeMenu {
	display: none;
}

A.closeMenu {
	height: 100px;
	width: 100px;
	display: block;
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
	font-size: 60px;
	font-family: 'Mukta Mahee', Arial;
	margin: 0 auto;
	border: 1px solid transparent;
	box-sizing: border-box;

}

A.closeMenu > DIV {
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	border: 4px solid #FFF;
	border-radius: 50%;
	overflow: hidden;
	margin: 20px;
}

A.closeMenu > DIV > DIV {
	width: 46px;
	height: 44px;
	border: 4px solid transparent;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0;
}

A.closeMenu > DIV > DIV > SPAN {
	width: 100%;
	margin-left: -1px;
	margin-top: 5px;
	text-align: center;
	height: 44px;
	line-height: 37px;
	display: block;
}

A.closeMenu:hover > DIV {
	background-color: #1E1E1E;
}

BODY.JS NAV > .closeMenu {
	display: block;
}

/* Style for the list elements */
NAV > UL {
	width: 100%;
	margin: 0;
	padding: 20px 0px;;
	list-style: none;
}

NAV > UL > LI {
	width: 90%;
	margin: 0 auto;
	border-bottom: 2px solid #FFF;
}

NAV > UL > LI:first-child {
	border-top: 2px solid #FFF;
}

NAV > UL > LI > A {
	color: #FFF;
	text-decoration: none;
	font-size: 1.2em;
	padding: 20px;
	display: block;
	width: 100%;
	box-sizing: border-box;

}

NAV > UL > LI > A:hover {
	background-color: #FFF;
	color: #1E1E1E;
}

NAV > UL > LI.active > A {
    background-color: #EFEFEF;
    color: #1E1E1E;
}
BODY.JS NAV {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba(3,184,116,0.99);
	z-index: 20;
}

BODY.JS > NAV > .closeMenu > .closeMenu {
	margin-right: 0;
	margin-left: calc(100% - 100px);
}

/* Style for the logo elements */
.logo {
	background-image: url('../IMG/logo/logo.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	min-height: 100px;
}

.logo > SPAN {
	display: none;
}

/* Style for the banner and landing banner */
DIV.banner-landing {
	width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	background-image: url('../IMG/PCG-Images/rice-389289_1920.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

DIV.banner-landing > .image {
	width: 100%;
	background-image: url('../IMG/PCG-Images/rice-389289_1920.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 100px 0px;
	background-attachment: fixed;
}

DIV.taglines > DIV {
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.6);
	color: #FFF;
	width: 90%;
    max-width: 600px;
	box-sizing: border-box;
	border: 0px solid transparent;
	border-left: 5px solid rgba(3,184,116,1);
	margin: 0 auto;
	padding: 10px;
}

DIV.banner {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	height: auto;
}

DIV.banner > .backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: flex;
	justify-content: center;
}

DIV.banner > .backgroundImage > DIV {
	width: 150%;
	height: 100%;
	min-width: 1920px;
	flex-shrink: 0;
	text-align: center;
	margin-left: calc(0 - (1920px - 100vw) / 2);
}

DIV.banner > .backgroundImage > DIV > IMG {
	width: 1920px;
	min-height: 100%;
}

DIV.banner > .preload {
	z-index: 0;
}

DIV.banner > .view {
	z-index: 5;
}

DIV.banner > .mist {
	position: relative;
	background-color: rgba(0,0,0,0.4);
	z-index: 10;
	padding: 10px;
}

DIV.banner > .mist > DIV  {
	margin: 100px auto;
}

DIV.banner > .mist > DIV > DIV {
	color: #FFF;
	font-weight: 700;
	text-shadow: 0px 0px 10px #000;
	font-size: 1.5em;

}

DIV.banner > .mist > DIV > DIV > H1 {
	padding: 0;
	margin: 0;
}

/* Style for the content */

DIV.content {
	display: block;
	width: 100%;
	background-color: #EFEFEF;
	border: 1px solid #EFEFEF;
	box-sizing: border-box;
	padding: 50px;
}

/* Style for the errors */

DIV.errors > .error {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #FF6666;
  border: 3px solid #FF3333;
  margin: 5px 0px;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
}

/* Style for the footer */

FOOTER {
	width: 100%;
	background-color: #1E1E1E;
	border: 1px solid #1E1E1E;
	padding: 20px;
	box-sizing: border-box;
	color: #FFF;
	min-height: 20vh;
}

/* Style for the inputs */

DIV.input {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	border-left: 5px solid #03B874;
	background-color: #1E1E1E;
}

DIV.input > LABEL {
	width: 100%;
	display: block;
	background-color: #1E1E1E;
	color: #FFF;
	padding: 20px 5px;
  border: none;
	box-sizing: border-box;
	-webkit-appearance: none;
}

DIV.input > INPUT {
	width: 100%;
	box-sizing: border-box;
	border: 5px solid #1E1E1E;
	text-align: center;
	font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	padding: 20px 10px;
}

DIV.input > TEXTAREA {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 5px solid #1E1E1E;
	margin: 0;
	padding: 20px 10px;
	font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
	text-align: center;
	font-size: 0.9em;
	font-weight: 700;
	-webkit-appearance: none;
	resize: none;
	height: 200px
}

DIV.buttons {
	border-left: 5px solid #03B874;
	width: 100%;
	background-color: #1E1E1E;
	box-sizing: border-box;
	text-align: center;
}

DIV.buttons > BUTTON {
	width: 40%;
	box-sizing: border-box;
	border: 1px solid #03B874;
	background-color: #03B874;
	padding: 20px;
	border-radius: 10px;
	font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
	font-weight: 700;
	color: #FFF;
	text-shadow: 0px 0px 10px #000;
	margin: 20px 3%;
	cursor: pointer;
}

DIV.buttons > BUTTON:hover {
	background-color: #FFF;
	color: #1E1E1E;
	text-shadow: none;
}

ASIDE {
	padding: 20px;
	display: none;
}

DL.menu {
	width: 100%;
	box-sizing: border-box;
}

DL.menu > DT {
	width: 100%;
	cursor: pointer;
}

DL.menu > DT > .border {
	width: 100%;
	margin: 0 auto;
	border-bottom: 3px solid #03B874;
	display: inline-block;
}

DL.menu > DT > .border > H4 {
	margin: 0px;
	padding:  20px;
}

DL.menu > DT:hover > .border {
	border-color: #1E1E1E;
}

DL.menu > DD {
	background-color: #1E1E1E;
	color: #FFF;
	margin: 0;
	border: 1px solid #1E1E1E;
	box-sizing: border-box;
	padding: 20px;
	text-shadow: 0px 0px 5px #000;
}

DL.menu > DD > DIV > IMG {
  width: 100%;
}

DL.menu > DT.hidden > .border {
	width: auto;
}

DIV.imagesBoard {
	width: 90%;
	display: block;
	box-sizing: border-box;
	margin-left: 10%;
}

DIV.imagesBoard > .imageBox {
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

DIV.imagesBoard > .imageBox > DIV {
	width: 100%;
	display: block;
	background-color: #1E1E1E;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

DIV.imagesBoard > .imageBox > DIV > DIV {
	height: 150%;
	margin-top: -25%;
	width: 200%;
	margin-left: -50%;
	text-align: center;
}

DIV.imagesBoard > .imageBox > DIV > DIV > IMG {
	height: 100%;
}

DIV.imagesBoard > .imageBox:hover > DIV > DIV {
	height: 200%;
	width: 250%;
	margin-top: -50%;
	margin-left: -75%;
}

DIV.cover {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

DIV.cover > .imageDisplay {
	width: 90%;
	max-width: 1100px;
	background-color: #1E1E1E;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 100px;
}

DIV.closeCover {
	text-align: right;
}


A.close {
	height: 100px;
	width: 100px;
	display: block;
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
	font-size: 60px;
	font-family: 'Mukta Mahee', Arial;
	margin: 0;
	border: 1px solid transparent;
	box-sizing: border-box;
	float: right;

}

A.close > DIV {
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	border: 4px solid #FFF;
	border-radius: 50%;
	overflow: hidden;
	margin: 20px;
}

A.close > DIV > DIV {
	width: 46px;
	height: 44px;
	border: 4px solid transparent;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0;
}

A.close > DIV > DIV > SPAN {
	width: 100%;
	margin-left: -1px;
	margin-top: 5px;
	text-align: center;
	height: 44px;
	line-height: 37px;
	display: block;
}

A.close:hover > DIV {
	background-color: #03B874;
}

DIV.cover > .imageDisplay > .view {
	text-align: center;
	margin-top: 100px;
}

DIV.cover > .imageDisplay > .view > IMG {
	max-width: calc(100% - 200px);
	max-height: 60vh;
}

.stop-scrolling {
	overflow: hidden;
	height: 100vh;
}

.stop-scrolling NAV {
	overflow-y: auto;
}

ARTICLE H2 {
  font-size: 2.5rem;
  width: auto;
}

ARTICLE H2:after {
  content: " ";
  width: 60%;
  height: 2px;
  background-color: #03B874;
  display: block;
  margin: 0 auto;
  margin-top: 10px;

}
/* Style for the larger devices */

@media screen and (min-width: 720px){
    /* Style for tablets and other medium sized screens */

	DIV.input > LABEL {
		width: 30%;
		float: left;
		border: 3px solid #1E1E1E;
		border-bottom: none;
		text-align: left;
		padding-left: 20px;
	}

	DIV.input > INPUT {
		width: 70%;
		float: right;
		border-bottom: 0px solid #1E1E1E;
		text-align: left;
	}

	DIV.input > TEXTAREA {
		width: 70%;
		height: 250px;
		text-align: left;
	}

  DL.menu > DD > DIV > IMG {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px){
    /* Style for desktop computers and other larger screens */
    .logo {
        background-position: left;
    }

    DIV.input > LABEL {
      border: none;
    }

    DIV.banner-landing {
        height: 500px;
    }

    DIV.banner-landing > .image {
        height: 500px;
        padding: 0;
    }

    DIV.taglines {
        display: table-cell;
        vertical-align: middle;
        height: 500px;
    }

    DIV.taglines {
        width: 500px
    }

    DIV.holder {
        width: 500px;
        margin: 0 auto;
    }

	DIV.banner-content {
		width: 100%;
		height: 200px;
	}

	DIV.banner > .backgroundImage > DIV {
		text-align: center;
		width: calc(100% + 20px);
		margin-left: -10px;
		overflow: hidden;
	}

	DIV.banner > .backgroundImage > DIV > IMG {
		height: 200px;
	}

	DIV.banner-content > .mist {
		height: 200px;
	}

	DIV.banner-content > .mist > DIV {
		height: 180px;
		margin: 0 auto;
		width: auto;
		display: inline-block;
		text-align: center;
		padding: 0;
	}

	DIV.banner-content > .mist > DIV > DIV {
		height: 180px;
		display: table-cell;
		vertical-align: middle;
	}

    BODY NAV {
        width: 100%;
        position: relative;
        padding: 0;
        border-bottom: 1px solid #EFEFEF;
        border-top: 1px solid transparent;
    }

    NAV > UL {
        padding: 0;
        text-align: left;
        max-width: 1100px;
        margin: 0 auto;
    }

    NAV > UL > LI {
        width: auto;
        display: inline-block;
        border: none;
    }

    NAV > UL > LI:first-child {
        border-top: none;
    }

    FOOTER {
        text-align: left;
        font-size: 0.8em;
    }

    NAV.smaller {
        background-color: transparent;
        border: none;
        text-align: right;
    }

    NAV.smaller > UL {
        text-align: right;
    }

    NAV.smaller > UL > LI > A {
        padding: 10px 15px;
        font-size: 1.1em;
    }

    NAV.smaller > UL > LI > A:hover {
        background-color: #03B874;
    }

	ARTICLE {
		padding: 0px 50px;
	}

	.landing-content {
		width: 80%;
		margin: 50px auto;
		padding: 0px;
	}

	DIV.input > TEXTAREA {
		height: 200px;
	}

	ASIDE {
		border-left: 1px dashed #BBB;
		min-height: 300px;
		display: block;
		margin-top: 55px;
	}

  ARTICLE H2:after {
    margin-left: 0px;
    width: 30%;
  }

  ARTICLE H2.centre_underline:after {
    display: none;
  }

  DL.menu > DD {
    display: flex;
  }

  DL.menu > DD > DIV {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
  }

  DL.menu > DD > DIV > IMG {
    width: 100%;
  }
}

/* For screens larger than 1920px */

@media screen and (min-width: 1921px){
	DIV.banner-content > .backgroundImage > DIV {
		height: 400px;
		margin-top: -100px;
	}

	DIV.banner-content > .backgroundImage > DIV > IMG {
		height: 400px;
		max-width: none;
		width: auto;
	}
}

@media screen and (min-width: 2900px){
	BODY {
		font-size: 2em;
	}

	.logo {
		height: 200px;
	}

	DIV.banner-landing {
		height: 1000px;
	}

	DIV.banner-landing > .image {
		height: 1000px;
	}

	DIV.banner-landing > .image > .holder {
		height: 1000px;
		width: 900px;
	}

	DIV.banner-landing > .image > .holder > .taglines {
		height: 1000px;
		width: 900px;
	}

	DIV.banner-landing > .image > .holder > .taglines > DIV {
		max-width: 900px;
	}

	DIV.banner-content {
		height: 400px;
	}

	DIV.banner-content > .backgroundImage > DIV {
		margin-top: 0;
	}

	DIV.banner-content > .backgroundImage > DIV > IMG {
		height: 400px;
		max-width: none;
		width: auto;
	}

	DIV.banner-content > .mist {
		height: 400px;
	}

	DIV.banner-content > .mist > DIV {
		height: 400px;
	}

	DIV.banner-content > .mist > DIV > DIV {
		height: 400px;
	}

	NAV > UL {
		max-width: 2000px;
	}
}

@media screen and (min-width: 3800px){
	DIV.banner-content > .backgroundImage > DIV > IMG {
		height: 800px;
		margin-top: -200px;
	}
}
